<form role="form">

    <h2>Signup Form</h2>
    <hr/>

    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <span>Name</span>
            </span>
            <input type="text" class="form-control" placeholder="Full Name">
        </div>
    </div>                

    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="atsymbol">&#64;</span>
            </span>
            <input type="text" class="form-control" placeholder="E-mail">
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
            </span>
            <input type="text" class="form-control" placeholder="Username">
        </div>
    </div>                

    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
            </span>
            <input type="text" class="form-control" placeholder="Password">
        </div>
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox"> I Agree to the terms of use
            </label>
        </div>
    </div>

    <hr/>

    <div class="align_center">
        <button type="button" class="btn btn-warning">Singn Up</button>
    </div>
    
    <br />

</form>
