<div class="col-md-offset-2 col-md-8 wrapper-form" id="signform-section">

    <div class="row">
        <div class="col-md-6">

            <%= render 'loginform' %>

        </div>        
        <div class="col-md-6">

            <%= render 'signupform' %>

        </div>            
    </div>
</div>
